# C-sharp/vscode ignores
.vscode
bin
obj

**/.idea
*.iml

docs/_site
docs/Gemfile.lock

exercises/java/out
exercises/java/.gradle
exercises/java/build/

node_modules
package-lock.json

*.pyc
/exercises/dotnet/.vs/McrDigital.Bootcamp1.Checkout/v17/.suo
